body {
  background-image: url('./../public/background.jpg'); 
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1260px;
  margin: auto;
  padding: 1rem;
}

h1 {
  text-align: start;
}
.white-heading {
  color: white;
}

.controls {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 1rem;
}

/* Give the wrapper 40% width, and let the inner <select> fill it */
.country-selector {
  flex: 0 0 65%;
  margin-top: 10px;   /* if you still want that top offset */
}

/* Make the select fill its wrapper */
.country-selector select {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 30px;
  border: 1px solid #ccc;
}


.date-inputs {
  display: flex;
  gap: 1rem;
}





.dropdown {
  text-align: center;
  margin-bottom: 1rem;
}

select {
  padding: 0.5rem;
  font-size: 1rem;
  align-items: flex-start;
  border-radius: 30px;    
  border: 1px solid #ccc;
  width: 550px;           
}
.date-inputs input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
}


.stats {
  display: flex;
  justify-content: space-around;
  margin: 1rem 0;
  flex-wrap: wrap;
}

.card {
  background: #fff;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  margin: 0.5rem;
  min-width: 150px;
  text-align: center;
  font-weight: bold;
}

.charts-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 1rem;
}

.chart {
  background: #fff;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  flex: 1 1 48%;    
  min-width: 300px; 
}



  


.error {
  color: red;
  text-align: center;
  padding: 1rem;
}
